.cabecalho {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2rem 1rem 1rem 1rem ;
}

#menu-hamburguer {
    display: none;
}

.cabecalho__menu-hamburguer__icone {
    color: var(--cinza);
    font-size: 1.5rem;
}

.cabecalho__menu-mobile {
    background-color: var(--violeta);
    border-radius: 10px;
    display: none;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    padding: 1.5rem;
    right: 0;
    top: 12vh;
    text-align: center;
    width: 70vw;
    z-index: 2;
}

.menu__link, .usuario__link {
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

.cabecalho__lista {
    padding-bottom: 1rem;
}

.cabecalho__item, .usuario__link{
    padding: 1rem;
}

.cabecalho__usuario{
    border-top: 1px solid var(--violeta-cinzento);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.usuario__signUp, .usuario__signUp-desktop {
    background-color: var(--ciano);
    border-radius: 24px;
    margin-bottom: 1rem;
}

#menu-hamburguer:checked~.cabecalho__menu-mobile {
    display: block;
}

.cabecalho__menu-desktop {
    display: none;
}

@media screen and (min-width: 930px) {
    .cabecalho {
        padding: 3rem 10vw 4rem 10vw ;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }
    
    .cabecalho__menu-desktop {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin-left: 3rem;
    }

    .cabecalho__lista-desktop {
        display: flex;
    }

    .cabecalho__item-desktop {
        margin-right: 2rem;
    }

    .cabecalho__item-desktop:nth-child(3){
        margin-right: 0;
    }

    .usuario__link-dektop {
        color: var(--violeta-cinzento);
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        transition: .2s;
    }

    .menu__link-desktop {
        color: var(--violeta-cinzento);
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        transition: .2s;
    }

    .menu__link-desktop:hover, .usuario__login-desktop:hover {
        color: var(--violeta-escuro);
    }

    .usuario__signUp-desktop {
        color: var(--branco);
        margin-left: 2rem;
        padding: .5rem 1.2rem;
    }

    .usuario__signUp-desktop:hover {
        opacity: .4;
    }

}