.encurtador {
    background-color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.encurtador__form {
    background-color: var(--violeta);
    background-image: url('../../images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: right top;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin:0 10%;
    padding: 1.5rem 1rem;
    position: relative;
    top: -80px;
    width: 80%;
}

.encurtador__input {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: .8rem .5rem;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
}

.encurtador__input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: var(--cinza);
}

.encurtador__botao-de-acao {
    background-color: var(--ciano);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    padding: .8rem .5rem ;
    transition: .2s;
    cursor: pointer;
}

.encurtador__processados {
    margin: -50px 5%;
    width: 85%;
}

.encurtador__item {
    background-color: var(--branco);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.encurtador__link-original {
    padding: 1rem;
    margin-right: 1rem;
    border-bottom: 2px solid var(--cinza-claro);
    white-space: nowrap;
    overflow:scroll;
}

::-webkit-scrollbar{
    display: none;
}

.encurtador__link-resultado {
    color: var(--ciano);
    padding: 1rem;
    font-weight: 400;
}

.encurtador__botao-copiar {
    background-color: var(--ciano);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: .5rem 0;
    margin: 0 1rem 1rem 1rem;
    transition: .2s;
}

.copiado {
    background-color: var(--violeta-escuro);
}

.mensagem__erro {
    color: var(--vermelho);
    display: none;
    font-size: .8rem;
    padding-bottom: .5rem;
}

.mensagem__erro-ativo {
    display: block;
}

.encurtador__input-erro {
    border: 2px solid var(--vermelho);
}

.encurtador__input-erro::placeholder {
    color: var(--vermelho);
    opacity: .5;
}

@media screen and (min-width: 930px) {
    .encurtador {
        padding: 0 10vw;
    }
    .encurtador__form {
        background-image: url('../../images/bg-shorten-desktop.svg');
        background-position: center;
        background-size: cover;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 4rem 0 2rem 0;
        margin: 0;
        width: 100%;
    }

    .encurtador__input {
        width: 90%;
        padding: 1rem 2rem;
    }

    .encurtador__input-container {
        flex-grow: 1;
        margin-left: 3rem;
    }

    .mensagem__erro {
        display: block;
        visibility: hidden;
        font-size: 1rem;
        padding-bottom:0;
    }

    .mensagem__erro-ativo {
        visibility: visible;
    }
    
    .encurtador__botao-de-acao {
        margin-right: 3rem;
        margin-left: 1.5rem;
        padding: 1rem 2rem;
    }

    .encurtador__botao-copiar:hover {
        opacity: .4;
    }

    .encurtador__botao-de-acao:hover {
        background-color: var(--ciano-opaco);
    }

    .encurtador__processados {
        width: 100%;
    }

    .encurtador__item  {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
    }

    .encurtador__botao-copiar{
        margin: 0;
        padding: .5rem 1.5rem;
    }
    .encurtador__botao-copiar:hover {
        opacity: .4;
    }

    .encurtador__link-original {
        padding: .5rem 0;
        border: none;
        flex-grow: 3;
    }

    .encurtador__link-resultado {
        padding: 0 1rem;
        flex-grow: 1;
    }
}