.getStarted {
    background-color: var(--violeta-escuro);
    background-image: url('../../images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
}

.getStarted__botao {
    color: var(--branco);
    background-color: var(--ciano);
    border-radius: 24px;
    font-weight: 700;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: .2s;
}

.getStarted__titulo {
    color: var(--branco);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 930px) {
    .getStarted {
        background-image: url('../../images/bg-boost-desktop.svg');
    }

    .getStarted__titulo {
        font-size: 2.5rem;
    }
    
    .getStarted__botao {
        font-size: 1.5rem;
    }

    .getStarted__botao:hover {
        background-color: var(--ciano-opaco);
    }
}