.introducao {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-bottom: 10rem;
    overflow: hidden;
}

.introducao__imagem {
    overflow:hidden;
    transform: translateX(15%);
}

.introducao__descricao {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 10% 0 10%;
}

.introducao__titulo {
    color: var(--violeta-escuro);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.introducao__texto {
    color: var(--violeta-cinzento);
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.introducao__botao {
    color: var(--branco);
    background-color: var(--ciano);
    border-radius: 24px;
    font-weight: 700;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 930px) {
    .introducao {
        padding: 0 10vw 10rem 10vw;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .introducao__descricao {
        margin: 0;
        align-items: flex-start;
    }

    .introducao__titulo {
        font-size: 3.8rem;
        text-align: start;
    }

    .introducao__texto {
        text-align: start;
        padding-right: 6rem;
    }

    .introducao__imagem {
        transform:none;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1200px) {
    .introducao__titulo {
        font-size: 5rem;
    }

    .introducao__texto {
        font-size: 1.5rem;
    }

    .introducao__imagem {
        width: 90%;
        height: auto;
    }

    .introducao__botao {
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
        border-radius: 50px;
    }

}