.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5% 5rem 5%;
}

.sobre__descricao {
    max-width: 545px;
}

.sobre__titulo {
    color: var(--violeta-escuro);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.sobre__texto, .sobre__item-texto {
    color: var(--violeta-cinzento);
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.sobre__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre__item{
    background-color: var(--branco);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.sobre__item-icone {
    background-color: var(--violeta);
    border-radius: 50%;
    display: inline-block;
    height: 62px;
    width: 62px;
    position: relative;
    top: -2rem;
}

.brand-recognition {
    background-image: url('../images/icon-brand-recognition.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.detailed-records {
    background-image: url('../images/icon-detailed-records.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.detailed-records::before, .fully-customizable::before{
    content: "";
    display: inline-block;
    height: 3rem;
    width: .5rem;
    background-color: var(--ciano);
    position: relative;
    left: 42%;
    bottom: 3rem;
}

.fully-customizable {
    background-image: url('../images/icon-fully-customizable.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.sobre__item-titulo {
    color: var(--violeta-escuro);
    font-weight: 700;
    margin-bottom: 1rem;
}

.sobre__item-texto {
    padding: 0 2rem;
}

@media screen and (min-width:930px) {
    .sobre {
        margin: 0 10vw 15rem 10vw;
    }

    .sobre__titulo {
        font-size: 2.5rem;
    }    

    .sobre__texto {
        font-size: 1.2rem;
    }

    .sobre__lista {
       flex-direction: row; 
       gap: 2rem;
    }

    .sobre__item {
        align-items: flex-start;
        padding: 0 2rem 0 2rem;
    }

    .sobre__item-texto {
        text-align: left;
        padding: 0;
    }
    
    .sobre__item-icone {
        height: 74px;
        width: 74px;
    }

    .sobre__item:nth-child(2) {
        position: relative;
        top: 3rem;
    }

    .sobre__item:nth-child(3) {
        position: relative;
        top: 6rem;
    }

    .detailed-records::before, .fully-customizable::before {
        height: .5em;
        width: 2rem;
        position: relative;
        left: -4rem;
        top: 8rem;
        bottom: 3rem;
    }

}