@import url('cabecalho.css');
@import url('intro.css');
@import url('encurtador.css');
@import url('sobre.css');
@import url('getStarted.css');
@import url('rodape.css');

:root{
    --ciano-opaco: #c5f3f3;
    --ciano: #2acfcf;
    --violeta: #383050;
    --violeta-escuro: #3b3054;
    --vermelho: #f46262;
    --cinza: #bfbfbf;
    --cinza-claro: #f7f7f7;
    --violeta-cinzento: #9e9aa7;
    --azul-extra-escuro: #35323e;
    --violeta-extra-escuro: #232127;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cinza-claro);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.pagina {
    overflow-x: hidden;
}
